@model PracticaWeb3junio8.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAnimal" />
            <div class="form-group">
                <label asp-for="NombreEspecie" class="control-label"></label>
                <input asp-for="NombreEspecie" class="form-control" />
                <span asp-validation-for="NombreEspecie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PesoPromedio" class="control-label"></label>
                <input asp-for="PesoPromedio" class="form-control" />
                <span asp-validation-for="PesoPromedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadPromedio" class="control-label"></label>
                <input asp-for="EdadPromedio" class="form-control" />
                <span asp-validation-for="EdadPromedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoAnimal" class="control-label"></label>
                <select asp-for="IdTipoAnimal" class="form-control" asp-items="ViewBag.IdTipoAnimal"></select>
                <span asp-validation-for="IdTipoAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
